@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@layer utilities{
  .font-inter{
    font-family:  "Inter", sans-serif;
  }
  .bg-parple{
    background-color: #1A0B2E;
  }
  .linear-grd-1{
    background-color: #9100f8;
  }
  .linear-grd-2{
    background-color: #fb09b4;
  }
  .linear-grd-3{
    background-color: #f7e93f;
  }
}
